@using PropellerheadCustomers.DataContracts
@model IEnumerable<PropellerheadCustomers.DataContracts.CustomerListView>

@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}

<h2>Customers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table table-striped">
    <thead>

    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NoteCountSortParm"]">@Html.DisplayNameFor(model => model.NoteCount)</a>
        </th>
        <th>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(model => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                @Html.DisplayFor(model => item.NoteCount)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>